/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
.h-20 {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #111827;
}

.p-5 {
    font-size: 16px;
    font-weight: 500;
}
.login-register{
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    font-family:'Jost';
    border: 1px solid #000;
    border-radius: 4px;
    color: #fff;
    padding: 14px 40px 14px 40px;
    background-color: #000;
}
.header{
  font-family: 'Jost';
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
/* .logout {
    max-width: 100px;
    max-height: 40px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 16px;
    background-color: red;
} */

/* Add this CSS to your global stylesheet or component's CSS module */

/* Ensure the dropdown menu appears on hover */
/* .group:hover .group-hover\:block {
  display: block;
}

.dropdown-menu {
  transition: height 0.3s ease-out, opacity 0.3s ease-out;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.group:hover .dropdown-menu {
  height: auto;
  opacity: 1;
} */ 